.divGen{
  margin-top: 25px;
}
.gender{
  font-size: 26px;
  font-weight: bold;
  color: aqua;
  -webkit-text-stroke: 0.5px #cfff04;
}
.select{
  background-color: black;
  border: solid 2px aqua;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  color: aqua;
  -webkit-text-stroke: 0.5px #cfff04;
}