.buscador{
    list-style: none;
    background-color: aqua;
    box-shadow: 0 0 8px #cfff04;
    -webkit-text-stroke: 0.8px black;
    border: 2px solid #cfff04;
    border-radius: 10px;
    margin: auto;
    font-size: 13px;
    margin-bottom: 8px;
    width: 180px;
    height: 20px;
    padding: 8px;
    font-weight: bold;
}
.resultados{
    list-style: none;
    background-color: aqua;
    box-shadow: 0 0 8px #cfff04;
    -webkit-text-stroke: 0.8px black;
    border: 2px solid #cfff04;
    border-radius: 10px;
    margin: auto;
    font-size: 13px;
    width: calc(100% - 30%);
    margin-bottom: 8px;
}