.App {
  text-align: center;
}
.rick{
  color: aqua;
  -webkit-text-stroke: 0.5px #cfff04;
  text-decoration: none;
  list-style: none;
}
Link{
  text-decoration: none;
}
a{
  text-decoration: none;
}